
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #FFF;
    padding: 20px;
    color: #333;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: none;
}

.main-content-img {
    margin-left: 300px;
}

.main-content {
    margin-left: 350px;
    padding: 20px;
}

.header {
    position: relative;
    text-align: center;
    margin-bottom: 0px;
}

.header img {
    width: 100%;
    height: auto;
    max-height: 350px;
}

.header h1, .header h3 {
    margin: 0; 
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
}

.header h1 {
    top: 30%; 
    font-size: 50px;
}

.header h3 {
    top: 70%; 
    font-size: 30px;
    font-weight: lighter;
}

.content-columns {
    display: flex;
    gap: 20px;
}

.columna-izquierda, .columna-derecha {
    flex: 1;
    padding: 20px;
    background-color: #FFF;
    border-radius: 8px;
}

.columna-izquierda {
    background-color: #FFF;
}
